*, *::after ,*::before {
    box-sizing: border-box;
}

.body {
    background-color: grey;
    
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.header .slide {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(4,103,177,0.5) 100%, rgba(255,255,255,0.5) 13%);
    background-image: url(../images/silde.jpg);
  

   
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #FFF;
    padding-top: 48vh;
   
    
}


.header .slide  h2 {
    margin: 0 auto;
    width: 600px;
    font-size: 50px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 5px 0;
    font-weight: bold;
  
}

.header .slide  button {
    background: none;
    color: #FFF;
    padding: 10px 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #FFF;
  
}
.header .navbar {
    background-color: #252f31;
    overflow: hidden;
  
}
 .header .navbar h2 {
     float: left;
     color: white;
 }
 .header .navbar span {
     color: #2ecc71;
 }
.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
    font-size: 14px;
    
}

.header .navbar ul li{
   color: white;
   float: left;
   padding: 10px; 
}
.header .navbar ul li a{
    color: white;
    text-decoration: none;
     
 }
 .header .navbar ul li a:hover{
    color: #2ecc71;
    
    
    
     
 }
.features {
    overflow: hidden;
    float: none;
    
}

.features .feat {
    float: left;
    margin: 50px 0;
    width: 33.33%;
    height: 200px;
    
}

.features .feat h2{
    text-transform: uppercase;
    margin-left: 15px;
    color: #555;
    font-size: 1.5em;
    font-weight: bold;
}
.features .feat p{
    padding: 5px 15px;
    color: #888;
    line-height: 1.5;
    text-align: justify;
}
.aboutme {
    background-color: #f2f2f2;
    overflow: hidden;
    overflow-wrap: break-word;
    
}

.aboutme img {
    background-size: cover;
    float: left;
    height: 100%;
}

.aboutme .inside {
    float: left;
    overflow-wrap: break-word;
    margin-left: 50px;
    width: 60%;
}
.aboutme .inside h2 {
    margin: 20px 0 20px 20px;
    color: #555;
    font-size: 1.5em;
    font-weight: bold;
}
.aboutme .inside  p {
    margin: 0px 0 20px 20px;
    text-align: justify;
    line-height: 1.5;
    color: #888;
}

.aboutme .content {
    width: 45%;
    overflow: hidden;
    margin-left: 20px;
    float: left;
}
.aboutme .content  .logo{
    float: left;
    width: 12%;
    padding-top: 30px;
    margin: 0;
    text-align: center;
}
.aboutme .content  .logo img{
    max-width: 100%;
}
.aboutme .content  .card{
    float: left;
    width: 80%;
    margin: 0;
}


.my-skills {
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

.my-skills .skills,
.my-skills .progress {
    width: 50%;
    float: left;
}

.my-skills .skills h2 {
    margin: 25px 0 20px 40px;
    color: #555;
}

.my-skills .skills p {
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}

.my-skills .skills p:last-of-type {
    margin-top: 25px;
}
.my-skills .skills button {
    background: none;
    border: 3px solid #2DCC70;
    padding: 10px 30px;
    margin-left: 40px;
    margin-top: 20px;
    color: #2DCC70;

}
.my-skills .progress .technique {
    margin-left: 50px;
}
.my-skills .progress .technique  h3 {
    color: #555;
}

.my-skills .progress .technique div{
    background-color: #F2F2F2;
    height: 25px;
}
.my-skills .progress .technique div span{
    background-color: #2DCC70;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color: #FFF;
    font-weight: bold;
}
.resume {
    
    text-align: center;
    overflow: hidden;
    background-color: #F2F2F2;
    padding-bottom:70px;
    padding-top: 50px;
}

.resume h2 {
    color: #666;
}
.resume p {
    line-height: 1.7;
    color: #666;
    padding: 0 40px;
}
.resume button {
    background: none;
    border: 3px solid #2DCC70;
    padding: 10px 30px;
    margin-left: 40px;
    margin-top: 20px;
    color: #2DCC70;
}

.my-education {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.my-education .main {
    width: 50%;
    float: left;
    margin-right: 5%;
}

.my-education .exp {
    width: 45%;
    float: left;
}
hr{
    clear: both;
    margin: 10px 0;
    background-color: #999;
    height:1px;
    border: 0;
    margin-top: 100px;
   
}
.my-education  .main h2 {
    margin: 25px 0 20px 40px;
    color: #555;
}

.my-education  .main p {
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}

.my-education  .skills p:last-of-type {
    margin-top: 25px;
}

.my-education .exp h3{   
    
    margin-top: 100px;
    margin-bottom: 10px;
}
.my-education .exp span{   
    margin-bottom: 10px;
    display: block;
}

.my-education .exp p{   
    line-height: 1.7;
    color: #555;
}
.my-education .exp span:first-of-type{   
    color: #D6D6D6;
}
.my-education .exp span:last-of-type{   
    background-color: #2DCC70;
    color: #FFF;
    display: inline-block;
    padding: 5px 8px;
}
.my-education .exp  hr{   
    margin: 20px 0;
    background-color: #999;
    height:1px;
    border: 0;
  
}
.testimonials {
    text-align: center;
    overflow: hidden;
    background-color: #F2F2F2;
    padding-bottom:50px;
    padding-top: 50px;
}
.testimonials q {
    color: #888;
    line-height: 1.8;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Tahoma, sans-serif;
}

.testimonials h3 {
    color: #777;
    margin-bottom: 28px;
}
.testimonials ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 10px;
}
.testimonials ul li{
    margin: 0;
    display: inline-block;
    border:1px solid #2DCC70;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.testimonials ul li.active, .testimonials ul li:hover{
    background-color: #2DCC70;
}
.portfolio {
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
.portfolio h2{
   color: #777;
}
.portfolio p {
    line-height: 1.7;
    color: #666;
    margin-bottom: 30px;
}
.portfolio .our-work  {
    overflow: hidden;
}

.portfolio .our-work > div {
    float: left;
    width: 33.33%;
    margin-bottom: 10px;
}

.portfolio .our-work > div img {
    width: 92%;
    margin: 15px;
    padding: 3px;
    border: 1px solid #CCC;
    box-shadow: 5px 5px 5px #CCC;
}


.contact {
    background-color: #252F31;
    overflow: hidden;
    padding-top:50px ;
    padding-bottom: 70px;
}
.contact h2 {
    color: #FFF;
    margin-left: 40px;
}

.contact p {
    color: #6A6E71;
    margin-left: 40px;
    line-height: 1.7;
}
.contact p  strong{
    color: #D1D6DA;
}

.contact .info {
    width: 50%;
    float: left;
    margin-right: 5%;
}

.contact .form {
    width: 45%;
    float: left;
}
.contact .form label {
    color:#D1D6DA ;
    display: block;
    margin-bottom: 10px;
}

.contact .form input[type="text"] {
    background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 70%;
    margin-bottom: 10px;
}
.contact .form textarea{
    background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    height: 150px;
    display: block;
    border: 0;
}
.contact .form input[type="submit"] {
    
    background-color: #191E22;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
}
.footer {
    background-color: #191E22;
    color: #6A6E71;
    padding: 20px 0;
    text-align: center;
}
.footer span {
    display: block;

}
.footer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0 0;
}

.footer ul  li{
    display: inline-block;
    margin: 10px  3px 5px;
}